hello_world
!hello_world/Makefile
!hello_world/hello_world.c
cat
!cat/Makefile
!cat/cat.c
badlinks
!badlinks/badlinks.sh
sigusr
!sigusr/sigusr.c
!sigusr/Makefile
midtermsh
!midtermsh/Makefile
!midtermsh/midtermsh.cpp
simplesh/*
!simplesh/Makefile
!simplesh/simplesh.cpp